<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MUFFMANAGER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MUFFMANAGER</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <div *ngFor="let item of legoList">
    
    <ion-card (click)="presentDetailModal(item)">

      <ion-card-header>
        
        <div class="header-container">
          <!-- HEADER -->
          <div class="header">
            <ion-card-title>{{item.name}}</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </div>
          <!-- PARTIAL VALUE -->
          <currency class="fs12" [value]=item.Partial></currency>
          <!-- CLOSED ICON -->
          <div class="closed-icon" *ngIf="item.closed">
            <ion-icon name='lock-closed'></ion-icon>
          </div>
        </div>
      </ion-card-header>
      <!-- CONTENT -->
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    
  </div>


  <total [value]="total"></total>



  <!-- ADD BUTTON -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- <ion-fab-button (click)="presentAddModal()"> -->
    <ion-fab-button (click)="goToAddItem()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  
  
</ion-content>
