<div class="container">

  <div class="header">
    {{item.name}}
  </div>

  <div class="body">

    <div class="buy">
      <div>Pagato</div>
      <currency [value]=item.paid></currency>
    </div>

    <div class="sell">
      <div>Ricavato</div>
      <!-- <div *ngFor="let sell of item?.sell">{{sell}}</div> -->
      <currency *ngFor="let sell of item.sell" [value]=sell [colored]="false"></currency>
      <div class="line"></div>
      <!-- <div>Totale</div> -->
      <currency [value]=item.Sell></currency>
    </div>

  </div>

  <div class="net">
    <div class="label">Netto: </div>
    <currency [value]="item.Partial"></currency>
  </div>
  
</div>

