@import '../../../theme/variables.scss';

.total {
    position: fixed;
    bottom: 0px;
    height: 2.2rem;
    width: 100%;
    background-color: var(--currency-bg);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    .value {
        margin-left: 1rem;
    }
}

.numero-rosso {
    color: var(--red-currency);
}
.numero-verde {
    color: var(--green-currency);
}